<html>
    <header>

        <ul>
            <%if(locals.user){%>
                <li>
                    <a href="/user/sign-out">sign-out</a>
                </li>
                <%}%>
            <li>
                <a href="/user/sign-in">sign-in</a>
            </li>
            <li>
                <a href="/user/sign-up">sign-up</a>
            </li>
        </ul>
      <img src="<%=user.avtaar%>" alt="<%=user.avtaar%>" width="150">
    </header>
    <p>
        <%if(user.id==profile_user.id){ %>

         <form action="/user/update/<%=user.id%>" method="post"  enctype="multipart/form-data">
         <input type="text" name = "name"value="<%=profile_user.name%>">
         <input type="text"email= "email" value="<%=profile_user.email%>">
         <input type="text" password="password" value="<%=profile_user.password%>">
         <input type="file"name="avtaar"placeholder="profile-picture">
         <input type="submit" value="update">
         </form>






            <% }else{ %>
        <%= profile_user.name %>
        <%= profile_user.email %>
        <%} %>
    </p>
</html> 